.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: .5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
}

.form-group input {
    padding: .5rem;
    border-radius: .25rem;
}